	
[class*='col-'] {

}

.col-12 {width : 100%;}
.col-11 {width : 91.67%;}
.col-10 {width : 83.33%;}
.col-9 {width : 75%;}
.col-8 {width : 66.67%;}
.col-7 {width : 58.33%;}
.col-6 {width : 50%;}
.col-5 {width : 41.67%;}
.col-4 {width : 33.33%;}
.col-3 {width : 25%;}
.col-2 {width : 16.67%;}
.col-1 {width : 8.33%;}

html, body{
    margin:0;
    padding:0;
}

/* unvisited link */
a:link {
    color: #ED9E4E;
    text-decoration : none;
}

/* visited link */
a:visited {
    color: #ED9E4E;
}

/* mouse over link */
a:hover {
    color: #ED9E4E;
}

/* selected link */
a:active {
    color: #ED9E4E;
}

.wrapper {
    font-family: 'Muli', sans-serif;
    height : 100%;
    margin : 0;
    padding : 0;
}


#header {
    display : block;
    margin : 0 auto;
    padding : 5px;
    text-align : center;
}

.titlebar {
    font-family : 'Sanchez', serif;
    color : #88AABD;
    padding : 10;
    font-weight : bold;
    font-size: 3em;
    font-style : italic;
}

.navbar {
    float : right;
    margin : 0 auto;
    color : #ED9E4E;
    vertical-align : middle;
    padding-top : 1em;
    text-align : right;
    font-size : 1.5em;
}

.navButton {
    display : inline;
    padding-left : 0.25em;
    padding-right : 0.25em;
}

#mainPanel {
    background-color : #F7E0B2;
    float :left;
    display : block;
    margin : 0px auto;
    padding : 5px;
    min-height : 500px;
}

#mapPanel {
    color : #A16343;
    margin : 0 auto;
}

#mapPanel p {
    font-size : 2em;
    text-align : center;
}

.btn {
    background : blue;
}

.Button {
    display :inline;
    text-align : center;
    background: #A16343;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    color : #ffffff;
    font-size: 1.1em;
    padding: 4px 8px 4px 8px;
    text-decoration: none;
    margin : 8px;
}

.Button:hover {
    background: #88AABD;
    color : #ffffff;
    text-decoration: none;
}

#mapButtons {
    margin : 0 auto;
}

#mapCanvas {
    height: 300px;
    width: 600px;
    margin: 10px auto;
    padding: 0px;
}

#band1 {
    height : 10px;
    background-color : #A16343;
}

#band2 {
    height : 10px;
    background-color : #ED9E4E;
}

#band3 {
    height : 10px;
    background-color : #88AABD;
}

#band4 {
    height : 10px;
    background-color : #D3E7F2;
}
