	
[class*='col-'] {
    float: left;
}
.col-12 {width : 100%;}
.col-11 {width : 91.67%;}
.col-10 {width : 83.33%; position : center}
.col-9 {width : 75%;}
.col-8 {width : 66.67%;}
.col-7 {width : 58.33%;}
.col-6 {width : 50%;}
.col-5 {width : 41.67%;}
.col-4 {width : 33.33%;}
.col-3 {width : 25%;}
.col-2 {width : 16.67%;}
.col-1 {width : 8.33%;}

/* unvisited link */
a:link {
    color: #3399FF;
}

/* visited link */
a:visited {
    color: #3399FF;
}

/* mouse over link */
a:hover {
    color: #FF9900;
}

/* selected link */
a:active {
    color: #FF9900;
}

.wrapper {
    width : 80%;
    background-color : #EBD0BF;
    margin : 0 auto;
    font-family: Arial, serif;
    height : 100%;
}

.titlebar {
    background-color : #EBD0BF;
    color : #DD3D31;
    padding : 10;
    font-weight : bold;
    font-size: 48pt;
}

.btn {
    background : blue;
}


#searchButton {
    width : 10%;
    text-align : center;
    background: #86A6BF;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

#searchButton:hover {
    background: #BB7B95;
    text-decoration: none;
}